body{
  	background-color: #d8d8d8;
  	font: 20px Arial, sans-serif;
  	text-align: center;
}

.bg-footer{
	background-color: black;
	color: white;	
}
.margin{
	padding-bottom: 50px;
	padding-top: 10px; 
}
