body{
	background-color: #F0FFF0;
}

.nav{
  background-color: ;
  position: relative;

}
.margin{
 padding-bottom: 10px;
 padding-top: 0px;
}

.footer{
  font-size: 13px;
  color: white;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  background-color: black;
}


/* foto */
.home{ 
  background-color: #F5FFFA;  
  border: 10px solid transparent;
  width: 50%;
  height: -80px;
  text-align: center;
}

.img-thumbnail{
  border: 1px solid;
  color: black;
}

.rounded{
  border: 3px solid;
  color: black;
  width: 400px;
  height: 400px;
}
a:link{
  color: black;
}

.botao{
  text-align: center;
  right: -80%;
}

a:hover{
  text-decoration: none;
  color: ;
  font-weight: bold;
  border-color: #B1B1B1;
}

.projetos{
  background-color: #F5FFFA ;
  font-family: georgia, serif;
  font-size: 14px;
  text-align: left; 
  width: 50%; 
}
.sobre{

  font-size: 14px;
  background-color: #F5FFFA;
  width: 100%;
  right: -25%;
  text-align: center;  
  top: 25%;

}
.habilidades{

  background-color: #F5FFFA;
}

.border border-secondary{
  color: red;
  text-align-last: center;
}